
/*GAME CARD*/
.game-card + .game-card {
	border-top: 1px solid gray;
}

.game-image {
	max-width: 400px;
}

.game-card + .game-card {
	margin-top:	 3rem;
}

.label {
	font-weight: 700;
}

.game-card a {
	display: inline-block;
	border: 1px solid rgb(81,63,70);
	margin-top: 1rem;
	padding: 1rem;
}